*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-box{
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: auto auto;
    border: solid black 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .6fr 2fr 1.8fr;
    position: absolute;

}
.header {
    grid-column: 1/3;
}

.recommended-pathologies{
    grid-row: 2/4;
    grid-column: 2/3;
    
}
@media screen and (max-width: 800px){
    .grid-box{
        grid-template-columns: 1fr;
        grid-template-rows: .6fr 2fr 1.8fr;
    }
    .banner{
        display: none;
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
 /* Center slide text vertically */
 display: -webkit-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 -webkit-justify-content: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 -webkit-align-items: center;
 align-items: center;}

.swiper-box{
    position: relative;
    height: 100%;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }